body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  position: relative;
  width: 100%;
  color: #989595;
}
.container {
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.text {
  text-align: center;
  display: inline-block;
}
.btn {
  border-radius: 10px;
  width: 90px;
  display: inline-block;
  height: 30px;
  font-size: 12pt;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}
.btn_save {
  width: 100px;
  background-color: #0fb9f7;
  border: solid #fff 1px;
  height: 39px;
  color: #fff;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.btn_delete {
  color: red;
  border: solid red 1px;
}
.text_box {
  border: solid #989595 1px;
  border-radius: 7px;
  width: 80%;
  font-size: 18pt;
  color: #989595;
}
.text_box_title {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 1.7em;
}
.text_box_contents {
  height: 6em;
}
